header {
    background-color: var(--green);
    min-height: 100vh;
    text-align: center;
    color: #fff;
    padding-top: 40vh;
}


header span {
    color: var(--purple)
}

header h2 {
    margin-bottom: 2rem;
}

@media screen and (max-width: 380px) {
    header {
        padding-top: 30vh;
    }
}