.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding-top: 2rem;
}

.project-list h2 {
    font-size: 62px;
    color: var(--purple);
}

.project-list {
    
    color: #6e6e6e;
}

.projects-box {
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .projects-box {
        border: 1px solid transparent;
    }
}