*, html {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    font-weight: 600;
    scroll-behavior: smooth;
}
header {
    height: 100vh;
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    padding-top: 3rem;
}
/* Headings */
h1 {
    font-size: 4rem;
    margin: 3rem;
}

h2 {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
}

h2 span {
    color: #A26262;
}
a {
    text-decoration: none;
}
.contact-head {
    height: 12rem;
    background-color: darkslategrey;
    color: white;
    border-bottom: 1rem solid #A26262;
    padding-top: 3rem;
    margin: 0;
}
/* Button */
.button {
    padding: 1rem;
    background-color: #A26262;
    color: white;
    width: 10rem;
    margin: 2rem auto;
    text-align: center;
    transition-property: background-color border;
    transition-duration: 1s;
}
.button:hover {
    background-color: white;
    color: #A26262;
    border: 2px solid #A26262;
}
/* About Me */
#about {
    padding: 2rem 0;
    min-height: 100vh;
}
.about-me {
    width: 45%;
    height: auto;
    float: left;
    padding: 3rem;
    margin: 2rem;
    margin-left: 6rem;
    margin-top: 0;
    font-size: 16px;
}
.about-me p {
    font-size: 16px;
    width: 100%;
}
.portrait-img {
    display: inline-block;
    margin: 2rem auto;
    margin-top: 4rem;
    border: 5px solid darkslategrey;
    border-radius: 50%;
}
.portrait-img img {
    display: block;
    border-radius: 50%;
}
.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.divider {
    height: 0.5rem;
    width: 90%;
    background-color: darkslategrey;
    margin: 4rem auto;
}
/* Projects */
#project-head {
    margin-bottom: 0;
}
#whatIMade:hover {
    cursor: pointer;
}
#projects {
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project {
    color: white;
    z-index: 0;
    background-color: #A26262;
    height: 33rem;
}
.project img {
    width: 100%;
    height: auto;
}
.project h3 {
    margin: 1rem;
    cursor: default;
}
.project p {
    margin: 1rem;
    padding: 2rem 0rem;
    cursor: default;
}
#overlay {
    min-width: 27.74%;
    max-width: 40%;
    height: auto;
    background: rgba(255, 255, 255, 0.6);
    background-size: cover;
    margin: 1.5%;
    padding: 1rem;
    vertical-align: top;
    z-index: 2;
    flex: 1 250px;
    opacity: 0.5;
    transition: opacity 1s;
    animation-name: grow;
    animation-duration: 1s;
}
#overlay:hover {
    background: rgba(255, 255, 255, 0);
    opacity: 1;
}
@keyframes grow {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.00001);
    }
}
/* Contact */
.contact {
    text-align: center;
    padding: 2rem;
}
#contact {
    margin-bottom: 7rem;
}
.contact-logo {
    display: inline;
    margin-top: 1rem;
}
/* Top button */
.top-button {
    position: fixed;
    right: 0;
    bottom: 6rem;
    background-color: #A26262;
    color: white;
    padding: 1rem;
    z-index: 3;
    transition-property: background-color border;
    transition-duration: 1s;
    border: 1px solid darkslategrey;
}
.top-button:hover {
    background-color: white;
    color: #A26262;
    border: 1px solid #A26262;
}
/* Footer */
footer {
    text-align: center;
    background-color: darkslategrey;
    color: white;
    padding: 2rem;
    margin-top: 4rem;
    border-top: 0.5rem solid #A26262;
}
/* Media Queries */
@media only screen and (max-width: 1075px) {
    .about-me {
        float: none;
        margin: 0 auto;
    }
    .portrait-img {
        max-width: fit-content;
        display: block;
    }
}
@media only screen and (max-width: 760px){
    body {
        font-size: 14px;
    }
    #projects {
        flex-flow: column wrap;
    }
    #overlay {
        max-width: 50%;
        min-width: 35%;
        margin: 0 auto;
    }
}
@media (hover: none) {
    #overlay {
        opacity: 1;
    }
}
@media only screen and (orientation: portrait) {
    header {
        padding-top: 35%;
    }
    .about-me {
        padding-top: 10%;
    }
}
@media only screen and (max-width: 450px) {
    .about-me {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .portrait-img {
        margin: 0 auto;
    }
    #overlay {
        min-width: 80%;
        margin: 0 auto;
    }   
}
